input,
textarea {
  padding: 12px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  font-size: 16px;
  background-color: var(--color-background);
  color: var(--color-heading);
  transition: border-color 0.2s, background-color 0.2s;
}

input:hover,
textarea:hover {
  border-color: var(--color-border-hover);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-primary) !important;
  background-color: var(--color-background-mute);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

textarea {
  resize: vertical;
}