// _variables.scss
:root {
    --c-white: #ffffff;
  --c-white-soft: #f7f7f7;
  --c-white-mute: #f0f0f0;

  --c-black: #15181f;
  --c-black-soft: #1a202c;
  --c-black-mute: #2d3748;

  --c-indigo: #313131;
  --c-indigo-dark: #c4c4c4;

  --c-divider-light-1: rgba(60, 60, 60, 0.29);
  --c-divider-light-2: rgba(60, 60, 60, 0.12);
  --c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --c-text-light-1: var(--c-indigo);
  --c-text-light-2: rgba(60, 60, 60, 0.66);
  --c-text-dark-1: var(--c-white);
  --c-text-dark-2: rgba(235, 235, 235, 0.64);

  --c-text-error: #ff5733;
  --c-primary-dark-theme: #78bf8d; 
  --c-primary: #519164; 
  --c-primary-light: #66c7aa;
  --c-primary-dark: #4a8f72;
  --c-secondary: #e9b035;
  --c-secondary-hover: #e0bd71;

  
    // Layout Spacing
    --section-gap: 160px;
  }
  