:root {
  --c-white: #ffffff;
  --c-white-soft: #f8f8f8;
  --c-white-mute: #f2f2f2;

  --c-black: #181818;
  --c-black-soft: #222222;
  --c-black-mute: #282828;

  --c-indigo: #2c3e50;

  --c-divider-light-1: rgba(60, 60, 60, 0.29);
  --c-divider-light-2: rgba(60, 60, 60, 0.12);
  --c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --c-text-light-1: var(--c-indigo);
  --c-text-light-2: rgba(60, 60, 60, 0.66);
  --c-text-dark-1: var(--c-white);
  --c-text-dark-2: rgba(235, 235, 235, 0.64);
  --c-text-error: #ff5733;
  --c-primary: #5865f2;
  --c-primary-hover: #4054d1;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--c-white);
  --color-background-soft: var(--c-white-soft);
  --color-background-mute: var(--c-white-mute);

  --color-border: var(--c-divider-light-2);
  --color-border-hover: var(--c-divider-light-1);

  --color-heading: var(--c-text-light-1);
  --color-text: var(--c-text-light-1);
  --color-text-mute: var(--c-text-light-2);
  --color-text-error: var(--c-text-error);

  --color-primary: var(--c-primary);
  --color-primary-hover: var(--c-primary-hover);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--c-black);
    --color-background-soft: var(--c-indigo);
    --color-background-mute: var(--c-black-mute);

    --color-border: var(--c-divider-dark-2);
    --color-border-hover: var(--c-divider-dark-1);

    --color-heading: var(--c-text-dark-1);
    --color-text: var(--c-text-dark-2);
    --color-text-mute: var(--c-text-dark-2);
    --color-text-error: var(--c-text-error);

    --color-primary: var(--c-primary);
    --color-primary-hover: var(--c-primary-hover);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html,body,#app{
  height: 100%;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos de componentes */
.transparent-button{
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid var(--color-border);
  color: var(--color-text);
  transition: all .3s;
  border-radius: 500px;
  margin: 0 5px;
}
.transparent-button:hover{
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.primary-button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
  z-index: 2;
}

.primary-button:hover {
  background-color: var(--color-primary-hover);
}